<form class="flex-1" *ngIf="!(ctrl.authService.authInfos$ | async)?.isAuth">
    <div class="flex-1">
        <div class="flex-row">

            <div class="flex grid">
                <div class="field grid col-8 align-items-center">
                    <label for="email" class="col-fixed">e-mail</label>
                    <div class="col">
                        <input id="email" name="email" type="text" pInputText [(ngModel)]="credentials.email">
                    </div>
                </div>
            </div>

            <div class="flex grid">
                <div class="field grid col-8">
                    <label for="password" class="col-fixed">Password</label>
                    <div class="col">
                        <p-password id="password" name="password" [feedback]="false" [(ngModel)]="credentials.password">
                        </p-password>
                    </div>
                </div>
            </div>

            <div class="flex grid">
                <div class="field grid col-8">
                    <div class="col justify-content-center">
                        <p-button label="Login" (onClick)="ctrl.login(credentials)"></p-button>
                    </div>
                </div>
            </div>
            <div *ngIf="(ctrl.authService.authInfos$ | async)?.error?.isError || false" class="flex grid">
                <div class="field grid col-8">
                    <div class="col justify-content-center">
                        <p-message severity="error"
                            [text]="(ctrl.authService.authInfos$ | async)?.error?.message || 'Error message unavailable'">
                        </p-message>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>