/* primeNG Tabmenu customization */
.p-tabmenu {
    .p-tabmenu-nav {
        .p-tabmenuitem {
            .p-menuitem-link {
                padding: 1rem 1rem;
                // padding-bottom: 5px;
                &:not(.p-disabled) {
                    &:focus {
                        outline: 0 none;
                        outline-offset: 0;
                        box-shadow: none;
                    }
                    &:hover {
                        &:not(.p-highlight) {
                            
                        }
                    }
                }
            }
        }
    }
}
