section.page.login
  div
    div Login page
    div
      form(data-hook="login-form")
        fieldset(data-hook="field-container")
        .buttons
          button.btn(data-hook="reset" type="submit") Submit