div {
    div.element {
        border-width: 1px;
        border-color: #ffffff #ffffff #dee2e6 #ffffff;
        border-bottom: 1px solid #dee2e6;
        img {
            width: 16px;
            height: 16px;
        }
        span {
            font-weight: bold;
            display: inline-block;
            margin-left: 2px;
            color: #6c757d;
        }
    }
}
